<nav id = 'nav'>
	<img src="images/logo.jpg">
	<a href='/'>Home</a>
	<a href="/shop">Order and Pay with a Credit Card</a>
	<a href="/shop">Order and Get a Mailed Bill</a>
	<a href="www.google.com">W-9 Form</a>
	<a href="www.google.com">About Us</a>
	<a href="www.google.com">Contact</a>
</nav>