<footer id='footer-container'>
	<center>
		<a href="www.google.com">Terms & Conditions</a>
		<span>/</span>
		<a href="www.google.com">Return Policy</a>
		<span>/</span>
		<a href="www.google.com">Privacy Policy</a>
	</center>
</footer>