#tag-images-text{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
#tag-images{
	display: flex;
	justify-content: center;
	height: 200px;
	margin-top: 40px;
	border-bottom: 2px grey solid;

}
#tag-images img{
	height: 70%;
}
#order-prompt{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
#order-routes{
	display: flex;
	justify-content: center;
	margin-top: 30px;
	column-gap: 130px;
	border-bottom: 2px grey solid;
	padding-bottom: 40px;
}
#order-routes div{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#order-routes a{
	margin: auto;
	margin-top: 40px;
	padding: 20px;
	border: 2px solid grey;
	color: black;
	text-decoration: none;
}
#order-routes a:hover{
	background-color: lightgrey;
}
#writing-display{
	margin-top: 50px;
	height: 400px;
	display: flex;
}
#writing-display img{
	height: 100%
}
#writing-display div{
	margin-top: 60px;
	margin-left: 30px;
	font-size: 20px;
}
