.return-checkout-links{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 1050px;
}
.return-checkout-links a{
	text-decoration: none;
	color:black;
}
.return-checkout-links a:hover{
	text-decoration: underline;
}
.info{
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 40px;
	margin-bottom: 50px;
}
.info img{
	height: 310px;
}
#qty{
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 20px;
}
#subButton{
	margin-bottom: 20px;
}
#checkout-link{
	float: right;
}
#invalid-form{
	margin-left: 10px;
	color:blue;
}