body{
	width: 1050px;
	margin:auto;
}
#nav{
	height: 100px;
	width: 1050px;
	margin-top: 30px;
	border-bottom: 2px grey solid;
	display: flex;
	padding-bottom: 15px;

}
#nav img{
	margin-right: 30px;
	height: 100px;
}
#nav a{
	white-space: nowrap;
	align-self: center;
	margin-left: 20px;
	font: 15px Courier;
	text-transform: capitalize;
	text-decoration: none;
	color: black;
}
#nav a:hover{
	text-decoration: underline;
}