#footer-container{
	padding-top: 35px;
	padding-bottom: 35px;
	width:1050px;
	border-top: 2px solid grey;
}
#footer-container a{
	text-decoration: none;
	color: black;
}
#footer-container a:hover{
	text-decoration:underline;
}