table{
	table-layout: fixed;
	width: 100%;
}
#items{
}
#items img{
	height: 130px;
}
#table-header{
	font-size: 8pt;
}
#table-header th:nth-child(1){
	width: 5%;
}
#table-header th:nth-child(2){
	width: 10%;
}
#table-header th:nth-child(3){
	width: 40%;
}
#table-header th:nth-child(4){
	width: 5%;
}
#table-header th:nth-child(5){
	width: 5%;
}
#table-header th:nth-child(6){
	width: 5%;
}
#table-header th:nth-child(7){
	width: 20%;
}
#table-header th:nth-child(8){
	width: 10%;
}
#items td:nth-child(1){
	text-align: center;
}
#items td:nth-child(2){
	padding-left: 10px;
}
#items td:nth-child(3){
	padding-left: 50px;
}
#items td:nth-child(4){
	text-align: right;
}
#items td:nth-child(5){
	text-align: center;
}
#items td:nth-child(7){
	text-align: right;
	padding-right: 15px;
}
#items td:nth-child(8){
	text-align: center;
	font-size: 17pt;
}
#grandTotal{
	font-weight: bold;
	font-size: 19pt;
}
#shipping{
	height: 100px;
}

#shipping a{
	display: block;
	float: right;
	margin-top: 10px;
	border: 2px solid black;
	padding: 10px;
	text-decoration: none;
	color: white;
	background-color: #181818;
	font-size: 21pt;
}
#shipping a:hover{
	opacity: 1;
	background-color: lightgrey;
	color:black;
}
td[id$='Clear']{
	text-transform: lowercase;
}
td[id$='Clear']:hover{
	text-decoration: underline;
	cursor: default;
}

