.store{
	display:flex;
	flex-wrap: wrap;
	margin-top: 30px;
	justify-content: center;
	margin-left: 75px;
	margin-right: 75px;
}
.store div{
	display: flex;
	flex-direction: column;
	width: 200px;
	height:300px;
	text-align: center;
	margin-bottom: 35px;
	margin-left: 20px;
}
.store a{
	text-decoration: none;
	color: black;
}
.store a:hover{
	opacity: 0.6;
}
.store img{
	width: 200px;
	margin-left: 10px;
}
.store h4{
	margin: 5px;
	margin-top: 25px;
}
.store h5{
	margin-top: 10px;
}
.checkout-link a{
	margin-top: 210px;
	border-width: 2px;
	border: 2px solid black;
	text-decoration: none;
	color: white;
	background-color: #181818;
	font-weight: bold;
	font-size: 15pt;

}
.checkout-link a:hover{
	opacity: 1;
	background-color: lightgrey;
	color:black;
}