<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style-nav.css">
	<link rel="stylesheet" type="text/css" href="style-footer.css">
	<link rel="stylesheet" type="text/css" href="style-cart.css">
</head>
<body>
	<%- include('../templates/html-nav.ejs')   %>
	<h3>SHOPPING CART</h3>
	<table id = "items">
		<tr id="table-header">
			<th>ITEM</th>
			<th></th>
			<th></th>
			<th></th>
			<th>QTY.</th>
			<th></th>
			<th></th>
			<th>PRICE</th>
		</tr>
		<% let colors = ['Blue','Red','Green','Yellow','Orange','Purple','White']; %>
		<% for(let i = 0; i < colors.length; i++) { %>
			<tr>
				<td id="<%=colors[i]%>Clear">X</td>
				<td><img src="images/<%=colors[i].toLowerCase()%>.jpg"></td>
				<td><p><%=colors[i]%> Equipment Tags</p></td>
				<td>
					<button id="<%=colors[i]%>Minus">&#8722</button>
				</td>
				<td id="<%=colors[i]%>Value"></td>
				<td>
					<button id="<%=colors[i]%>Add">&#43</button>
				</td>
				<td></td>
				<td id="<%=colors[i]%>Total"></td>
			</tr>
		<% } %>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><h2>Subtotal</h2></td>
			<td id='grandTotal'></td>
		</tr>
	</table>
	<div id="shipping">
		<a href="Shipping">Confirm -- To Shipping</a>
	</div>

	<%- include('../templates/html-footer.ejs')%>
	<script type="text/javascript" src="commonscripts.js"></script>
	<script type="text/javascript" src="checkout.js"></script>
</body>
</html>