<!DOCTYPE html>
<html>
<head>
	<title><%=locals.itemColor%> Tags</title>
	<link rel="stylesheet" type="text/css" href="style-nav.css">
	<link rel="stylesheet" type="text/css" href="style-footer.css">
	<link rel="stylesheet" type="text/css" href="style-item.css">
</head>
<body>
	<%- include('../templates/html-nav.ejs')   %>
	<section class='return-checkout-links'>
		<a href="/shop">&laquo BACK TO TAG COLORS</a>
		<a href="/cart" id="checkout-link">CHECKOUT &raquo</a>
	</section>
	<section class='info'>
		<img src='images/<%-locals.itemColor.toLowerCase();%>.jpg'>
		<div>
			<h3 id='tag-color'><%=locals.itemColor%> Equipment Tags</h3>
			<h3><%=locals.itemPrice%></h3>
			<ul>
				<li>Identify COVID patient equipment</li>
				<li>Writing won't fade with permanent ink</li>
				<li>Withstands pressure washing</li>
				<li>Made of soft, flexible rubber</li>
				<li>Write whatever is needed</li>
			</ul>
			<form>
				<label>Quantity</label><span id="invalid-form">Please Enter A Valid Number</span>
				<br>
				<input id='qty'type="number" name="qty" min="1">
				<br>
				<input id='subButton' type="button" name="submit" value="Add to Cart">
			</form>
		</div>
	</section>
	<%- include('../templates/html-footer.ejs')%>
	<script type="text/javascript" src="commonscripts.js"></script>
	<script type="text/javascript" src="cart.js"></script>
</body>
</html>