<!DOCTYPE html>
<html>
<head>
	<title>Shop</title>
	<link rel="stylesheet" type="text/css" href="style-nav.css">
	<link rel="stylesheet" type="text/css" href="style-footer.css">
	<link rel="stylesheet" type="text/css" href="style-shop.css">
</head>
<body>
	<%- include('../templates/html-nav.ejs')   %>
	<section class='store'>
		<div>
			<a href="Blue-Tag" class="merch-link">
				<img src="images/blue.jpg">
				<h4>Blue Equipment Tags</h4>
				<h5><%=locals.itemPrice%></h5>
			</a>
		</div>
		<div>
			<a href="Red-Tag" class="merch-link">
				<img src="images/red.jpg">
				<h4>Red Equipment Tags</h4>
				<h5><%=locals.itemPrice%></h5>
			</a>
		</div>
		<div>
			<a href="Green-Tag" class="merch-link">
				<img src="images/green.jpg">
				<h4>Green Equipment Tags</h4>
				<h5><%=locals.itemPrice%></h5>
			</a>
		</div>
		<div>
			<a href="Yellow-Tag" class="merch-link">
				<img src="images/yellow.jpg">
				<h4>Yellow Equipment Tags</h4>
				<h5><%=locals.itemPrice%></h5>
			</a>
		</div>
		<div>
			<a href="Orange-Tag" class="merch-link">
				<img src="images/orange.jpg">
				<h4>Orange Equipment Tags</h4>
				<h5><%=locals.itemPrice%></h5>
			</a>
		</div>
		<div>
			<a href="Purple-Tag" class="merch-link">
				<img src="images/purple.jpg">
				<h4>Purple Equipment Tags</h4>
				<h5><%=locals.itemPrice%></h5>
			</a>
		</div>
		<div>
			<a href="White-Tag" class="merch-link">
				<img src="images/white.jpg">
				<h4>White Equipment Tags</h4>
				<h5><%=locals.itemPrice%></h5>
			</a>
		</div>
		<div class="checkout-link">
			<a href="/cart">
				<p>Checkout</p>
			</a>
		</div>
	</section>
	<%- include('../templates/html-footer.ejs')%>
</body>
</html>