<!DOCTYPE html> 
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="style-nav.css">
	<link rel="stylesheet" type="text/css" href="style-footer.css">
	<link rel="stylesheet" type="text/css" href="style-home.css">
</head>
<body>
	<%- include('../templates/html-nav.ejs')   %>
	<section>
		<div id="tag-images-text">
			<h3>IDENTIFY EQUIPMENT DEDICATED TO SPECIFIC PATIENT USE</h3>
		</div>
		<div id="tag-images">
			<img src="images/white.jpg">
			<img src="images/purple.jpg">
			<img src="images/orange.jpg">
			<img src="images/yellow.jpg">
			<img src="images/green.jpg">
			<img src="images/red.jpg">
			<img src="images/blue.jpg">
		</div>
	</section>
	<section id='order-prompt'>
		<h3>How would you like to order?</h3>
	</section>
	<section id="order-routes">
		<div>
			<img src="images/mail.png">
			<a href="">Place order then get a mailed bill</a>
		</div>
		<div>
			<img src="images/cc.png">
			<a href="">Place order with a credit card</a>
		</div>
	</section>
	<section id='writing-display'>
		<img src="images/writing.png">
		<div>
			<ul>
				<li>Identify patient equipment</li>
				<li>Writing won't fade with permanent ink</li>
				<li>Withstands pressure washing</li>
				<li>Made of soft, flexible rubber</li>
				<li>Write whatever is needed</li>
			</ul>
			<br>
			<p>
				We charge $15 for flat rate shipping, no matter how many bags you order, and offer instant payment OR 30 day terms on all purchases.
			</p>
		</div>
	</section>
	<%- include('../templates/html-footer.ejs')%>
</body>
</html>